# Visual Studio & CMake

.vs/
out/
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt

# Visual Studio User Specific

CMakeUserPresets.json

CMakeSettings.json
*.user
*.suo

# Compiled Source (C++)

*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll
*.ipch
*.pch

# Editors / IDE Misc

.vscode/

.idea/
cmake-build-*/

# OS Specific

Thumbs.db
Desktop.ini
.DS_Store
